html {
  height: 100vh;
  width: 100vw;
}

body, #root{
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;

}

.app{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 16px;
  
  flex-direction: column;
}
.video-wrapper {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 185px;
  width: 328px;
  border-radius: 12px;
  border: 3px solid #0d4582;
}

.video-control-wrapper {
  width: 100%;
  margin-top: 48px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.video-control__button-start__inner{
  background-color: #E1463E;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
}

.video-control__button-start{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 4px #EEE solid;
}

.video-control__button-stop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 4px #EEE solid;
}

.video-control__button-stop__inner{
  background-color: #E1463E;
  width: 29px;
  height: 31px;
  border-radius: 8px; 
  border: 0 white solid;
}

.video-control__switch-camera{
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.3392 4.02455C9.3248 4.20779 7.57011 5.0415 6.14952 6.49023C5.35732 7.29815 4.79116 8.19035 4.42107 9.21426C4.33987 9.43892 4.25228 9.62522 4.22645 9.62828C4.20062 9.63134 4.06325 9.47408 3.92118 9.27883C3.60595 8.84551 3.38104 8.70908 2.98189 8.70908C2.43165 8.70908 2.03916 9.07031 2.00446 9.60861C1.99093 9.81797 2.00765 9.94855 2.06213 10.06C2.16648 10.2733 4.03042 12.8702 4.21279 13.0563C4.44052 13.2886 4.63782 13.361 4.98423 13.3392C5.32599 13.3177 5.24718 13.3658 7.27019 11.9458C8.41026 11.1456 8.52391 11.0393 8.62315 10.6809C8.73389 10.2807 8.49404 9.78851 8.08883 9.5843C7.93751 9.50804 7.8332 9.49171 7.58645 9.50544C7.2832 9.52237 7.26075 9.53276 6.72526 9.90258C6.4229 10.1115 6.17549 10.2628 6.17549 10.239C6.17549 10.2152 6.22753 10.0591 6.29107 9.89233C7.03832 7.93141 8.76785 6.48898 10.8621 6.08011C11.3689 5.98116 12.5286 5.96988 13.0323 6.05904C13.8627 6.20601 14.817 6.60082 15.5215 7.08889C15.7152 7.22309 16.0803 7.53942 16.3327 7.79182C16.9956 8.45449 17.3091 8.56184 17.826 8.30317C18.3557 8.0381 18.5288 7.43606 18.2233 6.9211C18.0729 6.66772 17.1792 5.82608 16.7078 5.49402C15.8803 4.9111 14.9802 4.49981 13.9918 4.25306C13.1399 4.04037 12.1256 3.95302 11.3392 4.02455ZM18.6916 10.723C18.4092 10.8471 15.6384 12.8243 15.5331 12.9768C15.1907 13.4729 15.362 14.1452 15.8999 14.4163C16.0938 14.514 16.511 14.54 16.7043 14.4663C16.7641 14.4435 17.0402 14.2673 17.3179 14.0749C17.5956 13.8825 17.8227 13.742 17.8227 13.7629C17.8227 13.7838 17.7681 13.9442 17.7014 14.1195C16.9541 16.0817 15.2339 17.5158 13.1361 17.9253C12.6293 18.0243 11.4696 18.0355 10.9659 17.9464C10.1333 17.799 9.17654 17.4027 8.47676 16.9152C8.28303 16.7803 7.91718 16.4636 7.66371 16.2115C6.99892 15.5502 6.68806 15.4441 6.1722 15.7023C5.6717 15.9527 5.47914 16.5349 5.7351 17.0237C5.77554 17.101 5.99153 17.3522 6.21513 17.582C8.53044 19.9619 12.1585 20.6655 15.2403 19.3323C17.2342 18.4697 18.865 16.7613 19.5783 14.788C19.6629 14.5541 19.7494 14.3619 19.7707 14.3607C19.792 14.3596 19.9277 14.5213 20.0724 14.7202C20.3926 15.1603 20.6154 15.2964 21.0163 15.2964C21.5683 15.2964 21.9591 14.9353 21.994 14.3931C22.0186 14.0125 22.0214 14.0175 20.8701 12.4067C19.9099 11.0632 19.7267 10.8411 19.4866 10.7285C19.3015 10.6418 18.883 10.6388 18.6916 10.723Z" fill="%230D4582"/></svg>');

  height:24px;
  width: 24px;
}